<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :inventoryId, style: "display: block" %>
    <%= form.number_field :inventoryId %>
  </div>

  <div>
    <%= form.label :vehicleId, style: "display: block" %>
    <%= form.number_field :vehicleId %>
  </div>

  <div>
    <%= form.label :manufactorId, style: "display: block" %>
    <%= form.number_field :manufactorId %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
