<p style="color: green"><%= notice %></p>

<%= render @manufactor %>

<div>
  <%= link_to "Edit this manufactor", edit_manufactor_path(@manufactor) %> |
  <%= link_to "Back to manufactors", manufactors_path %>

  <%= button_to "Destroy this manufactor", @manufactor, method: :delete %>
</div>
