<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicleid:</strong>
    <%= vehicle.vehicleId %>
  </p>

  <p>
    <strong>Manufactorid:</strong>
    <%= vehicle.manufactorId %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= vehicle.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vehicle.price %>
  </p>

  <p>
    <strong>Odometer:</strong>
    <%= vehicle.odometer %>
  </p>

  <p>
    <strong>Vehicletype:</strong>
    <%= vehicle.vehicleType %>
  </p>

</div>
