<p style="color: green"><%= notice %></p>

<% content_for :title, "Vehicles" %>

<h1>Vehicles</h1>

<%= form_with url: vehicles_path, method: :get, local: true do %>
  <%= label_tag :model, 'Select a Vehicle Model:' %>
  <%= select_tag :model, options_for_select(@vehicle_models.map { |v| [v.model, v.model] }, params[:model]), prompt: 'Choose a model' %>
  <%= submit_tag 'Search' %>
<% end %>

<div id="vehicles">
  <% @vehicles.each do |vehicle| %>
    <%= render vehicle %>
    <p>
      <%= link_to "Show this vehicle", vehicle %>
    </p>
  <% end %>
</div>

<%= link_to "New vehicle", new_vehicle_path %>
